footer {
    margin-top: 3rem;
    padding: 2rem;
}

.footer-sm img {
    width: 10%;
    height: auto;
    max-height: 10%;
    margin-right: 1rem;
}



.bi {
    display: inline-block;
    fill: currentColor;
    width: 1rem;
    height: 1rem;
}

.bi-person {
    display: inline-block;
    fill: currentColor;
    font-size: 1.5rem;

}

.bi-cart3 {
    display: inline-block;
    fill: currentColor;
    font-size: 1.25rem;

}